/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --extra-black: #231F20;
  --basic-black-03: rgba(0, 0, 0, 0.3);
  --basic-black-06: rgba(0, 0, 0, 0.6);
  --basic-black-015: rgba(0, 0, 0, 0.15);
  --basic-dark-gray: #444444;
  --basic-gray: #666666;
  --basic-light-gray: #E1E1E1;
  --basic-light: #888888;
  --light-black: #4D4D4D;
  --light-black-04: rgba(77, 77, 77, 0.4);
  --light-black-03: rgba(77, 77, 77, 0.3);
  --soft-gray: #D5D5D5;
  --border-gray: #C1C1C1;
  --dot-gray: #ababab;
  --med-light-gray: #DFDFDF;
  --basic-extra-light: #EEEEEE;
  --extra-gray: #A6A6A6;
  --basic-white: #ffffff;
  --basic-white-03: rgba(255, 255, 255, 0.3);
  --gray: #B4B9BB;
  --extra-light-gray: #DBDBDB;
  --white-gray: #D7DCDE;
  --red-light: #FB565A;
  --red: #E74246;
  --red-dark: #D7373B;
  --green-light: #00CA74;
  --green-med: #00BC6C;
  --green-dark: #00AA62;
  --yellow-light: #EFC849;
  --yellow-med: #EAB534;
  --yellow-dark: #E5A722;
  --shadow-1: rgba(0, 1, 1, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global */


.page {
  height: 100%;
}

.page-body {
  min-width: 1160px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.visually-hidden {
  display: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


.main-header {
  background-color: var(--basic-extra-light);
  padding-top: 48px;
}

.main-header-logo {
  margin-right: 202px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  flex-grow: 1;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.site-navigation-item {
  position: relative;
  display: block;
  margin-right: 45px;
  text-transform: uppercase;
}

.site-navigation-item-active::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  border-bottom: 2px solid var(--red-light);
  width: 100%;
}

.site-navigation-item:last-child {
  margin-right: 0;
  margin-left: auto;
  padding-left: 40px;
  position: relative;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--red-light);
}

.site-navigation a:active {
  color: var(--basic-black-03);
  justify-self: center;
  justify-items: center;
}

/* Features */
.features {
  position: relative;
  background-color: var(--basic-extra-light);
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  text-align: left;
  margin: 0;
  padding-top: 78px;
  padding-bottom: 80px;
}

.feature-item-first {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.feature-item-second {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.feature-item-third {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}


.slide {
  display: none;
}

.slide-current {
  display: block;
}

.feature-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  margin-bottom: 25px;
  width: 538px;
}

.feature-text {
  margin: 0;
  margin-bottom: 38px;
  width: 416px;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  display: flex;
  width: 88px;
  justify-content: space-between;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.slider-button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--basic-white);
  border: none;
}

.slider-button-current::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid var(--border-gray);

}


/* Index columns */
/* about */

.about {
  color: var(--basic-dark);
  font-size: 16px;
  line-height: 24px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 149px;
  padding-top: 39px;
  padding-bottom: 73px;
}

.about-lead {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: left;
  margin: 0;
  margin-bottom: 32px;
}

.about-text {
  margin: 0;
  margin-bottom: 40px;
}

.about-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-item {
  margin-bottom: 30px;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-info {
  margin: 0;
  margin-top: 34px;
  width: 651px;
}

.about-title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  margin: 0;
  margin-bottom: 23px;
}

/* stats */

.stats {
  margin: 0;
  margin-bottom: 1px;
}

.stats-img {
  margin-bottom: 37px;
}

.accuracy-title {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  margin: 0;
  margin-bottom: 31px;
}

.stats-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.stats-value {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
  margin-bottom: 11px;
}

.sign {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

.stats-text {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

/* Button */

.button {
  display: inline-block;
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: transparent;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  border-radius: 3px;
}

.button-primary {
  padding: 16px 20px;
  background-color: var(--red-light);
}

.button-primary:hover {
  background-color: var(--red);
}

.button-primary:active {
  background-color: var(--red-dark);
  color: var(--basic-white-03);
  box-shadow: inset 0 3px 0 var(--shadow-1);
}

.button-green {
  background-color: var(--green-light);
}

.button-green:hover {
  background-color: var(--green-med);
}

.button-green:active {
  background-color: var(--green-dark);
}

.button-yellow {
  background-color: var(--yellow-light);
}

.button-yellow:hover {
  background-color: var(--yellow-med);
}

.button-yellow:active {
  background-color: var(--yellow-dark);
}

/* services */
.services {
  padding-top: 80px;
  padding-bottom: 80px;
}

.services-img {
  padding-bottom: 25px;
}

.services-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  list-style: none;
}

.services-item {
  padding-right: 60px;
}

.services-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 16px;
}

.services-text {
  margin-bottom: 32px;
  text-align: left;
}

/* clients */

.clients {
  margin-bottom: 80px;
  border-top: 2px solid var(--basic-extra-light);
  border-bottom: 2px solid var(--basic-extra-light);
  background-position: top, bottom;
  background-repeat: no-repeat;
}

.clients-list {
  list-style: none;
  display: grid;
  grid-template-columns: 298px 298px 298px 298px;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  padding-top: 46px;
  padding-bottom: 44px;
}

.clients-link {
  opacity: 0.2;
}

.clients-link:hover {
  background-color: var(--basic-white);
  opacity: 1;
}

.clients-link:active {
  background-color: var(--basic-white);
  opacity: 0.1;
}

.clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.clients-item::after {
  content: "";
  position: absolute;
  border-left: 2px solid var(--basic-extra-light);
  height: 52px;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}


.clients-item:nth-child(4n+1)::after {
  border-left: none;
}


/* Contacts */

.contacts {
  padding: 54px 0;
  min-height: 416px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-content {
  width: 319px;
  background-color: var(--basic-white);
  padding: 49px 50px 47px;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 22px;
}

.contacts-text {
  line-height: 18px;
  color: var(--basic-gray);
  margin: 0;
  margin-bottom: 20px;
}

.contacts-link {
  margin-bottom: 37px;

}

.contacts-link a {
  line-height: 18px;
  color: var(--basic-gray);
}

/* footer-social */

.footer-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 68px;
  padding-top: 68px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 261px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 139px;
}

.social-item {
  margin-right: 9px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--basic-light-gray);
  width: 81px;
  height: 81px;
}

.social-button:hover {
  background-color: var(--red);
}

.social-button:active {
  background-color: var(--red-dark);
}

.social-button:active path {
  fill: var(--basic-white-03);
}

/* discount */

.discount {
  line-height: 22px;
  color: var(--basic-dark-gray);
}

.discount-text {
  padding: 0;
  margin: 0;
}

.discount-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 10px;
}

/* Appointment */

.modal-description {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
}

.form label {
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.form input {
  background-color: transparent;
  border: 2px;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid var(--white-gray);
  color: var(--basic-dark-gray);
  opacity: 0.5;
}

.form input:hover {
  border-color: var(--gray);
}

.form input:active {
  border-color: var(--basic-black);
  color: var(--basic-dark-gray);
  opacity: 1;
  border: 2px;
}

.form textarea {
  background-color: transparent;
  border: 2px;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid var(--white-gray);
  color: var(--basic-dark-gray);
  opacity: 0.5;
}

.form textarea:hover {
  border-color: var(--gray);
}

.form textarea:active {
  border-color: var(--basic-black);
  color: var(--basic-dark-gray);
  opacity: 1;
  border: 2px;
}

.modal-close {
  opacity: 0.3;
  background-color: transparent;
  border-color: 2px solid var(--red-light);
}

.modal-close:hover {
  opacity: 1;
  background-color: transparent;
  border-color: 2px solid var(--red-light);
}

.modal-close:active {
  opacity: 0.1;
  background-color: transparent;
  border-color: 2px solid var(--red-light);
}

.main-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  margin-top: 87px;
  margin-bottom: 108px;
  text-align: center;
}

.filter {
  width: 260px;
  flex-shrink: 0;
  margin-right: 140px;
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
}

.filter-margin {
  margin-bottom: 14px;
}

.filter-group {
  margin: 0;

  padding: 0;
  border: none;
}

.filter-price {
  margin-bottom: 54px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-extra-light);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--white-gray);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--green-light);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px var(--basic-black-015);
}

.range-controls .toggle::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid var(--dot-gray);
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-dark);
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}

.filter-grid {
  margin-bottom: 43px;
}

.checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.radio-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.radio-item {
  margin-bottom: 15px;
}

.radio-item label {
  position: relative;
  display: block;
}

.checkbox-item {
  margin-bottom: 17px;
}

.filter-checkbox {
  position: relative;
  display: block;
  padding-left: 45px;
  cursor: pointer;
}

.filter-checkbox::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-black.svg");
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox:hover::before {
  opacity: 1;
}

.filter-checkbox:active {
  opacity: 0.1;
}

.filter-checkbox:active::before {
  opacity: 0.1;
}

.filter-input-checkbox:checked+.filter-checkbox::before {
  width: 25px;
  background-image: url("../img/checkbox-on-black.svg");
}

.filter-radio {
  position: relative;
  display: block;
  padding-left: 45px;
  cursor: pointer;
}

.filter-radio::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off-black.svg");
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-radio:hover::before {
  opacity: 1;
}

.filter-radio:active {
  opacity: 0.1;
}

.filter-radio:active::before {
  opacity: 0.1;
}

.filter-input-radio:checked+.filter-radio::before {
  background-image: url("../img/radio-on-black.svg");
}

.filter-excellence {
  margin-bottom: 48px;
}

.filter-name {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.filter-button {
  width: 100%;
  padding: 16px 20px;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
}

.filter-button:hover {
  background-color: var(--med-light-gray);
}

.filter-button:active {
  color: var(--basic-black-03);
  background-color: var(--soft-gray);
  box-shadow: inset 0 3px 0 var(--shadow-1);
}

.sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 48px;
}

.sort-min-max {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 47px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.sort-button {
  color: var(--extra-gray);
  opacity: 0.2;
}

.sort-button-active {
  color: var(--extra-black);
  opacity: 1;
}

.sort-button:hover,
.sort-button:focus {
  opacity: 1;
}

.sort-button:active {
  color: var(--extra-black);
  opacity: 1;
}

.sort-title {
  margin: 0;
}

.sort-list {
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
}

.sort-type {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black-03);
}

.sort-type-active {
  color: var(--basic-black);
}

.sort-place {
  margin-right: 25px;
}

.sort-place:last-child {
  margin-right: 0;
}


.sort-type:hover {
  color: var(--basic-black-06);
}

.sort-type:active {
  color: var(--basic-black);
}


.example-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  padding-bottom: 55px;
  grid-row-gap: 30px;
  grid-column-gap: 42px;
}

.example-item::before {
  content: "";
  display: block;
  top: 0;
  left: 140px;
  right: 40px;
  width: 100%;
  height: 40px;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.example-item:hover::before {
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  opacity: 1;
  background-position: 0 0;
}

.example-title {
  margin: 0;
}

.example-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-gray);
  margin: 0;
}

.example-cover {
  display: none;
}

.example-button:active {
  color: var(--basic-white);
}

.example-img {
  display: flex;
  flex-wrap: wrap;
}

.example-link a {

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
}

.example-link a:hover {
  color: var(--red-light);
}

.example-link a:active {
  color: var(--basic-black-03);
}

.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  border: none;
  width: 50px;
  height: 50px;
  padding: 13px 15px;
}

.pagination-link:hover {
  background-color: var(--med-light-gray);
}

.pagination-link:active {
  color: var(--basic-black-03);
  background-color: var(--soft-gray);
  box-shadow: inset 0 3px 0 var(--shadow-1);
}

.pagination-link-active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 3px solid var(--extra-light-gray);
}

.link-next {
  width: 260px;
}

.price-range {
  background-color: var(--basic-extra-light);
  color: var(--basic-white);
  box-shadow: Offset 0 2px var(--basic-black-015);
}

.filter-form-text {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-form input {
  background-color: var(--basic-extra-light);
  border: none;
  border-radius: 3px;
}

/* Grid for pages */

.page-catalog {
  display: flex;
  flex-wrap: wrap;
  padding-top: 55px;
  padding-bottom: 60px;
}
