/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-black-03: rgb(0, 0, 0, 0.3);
  --basic-black-06: rgb(0, 0, 0, 0.6);
  --basic-black-015: rgba(0, 0, 0, 0.15);
  --basic-dark-gray: #444444;
  --basic-gray: #666666;
  --basic-light-gray: #E1E1E1;
  --basic-light: #888888;
  --light-black: #4D4D4D;
  --soft-gray: #D5D5D5;
  --med-light-gray: #DFDFDF;
  --basic-extra-light: #EEEEEE;
  --basic-white: #ffffff;
  --basic-white-03: rgba(255, 255, 255, 0.3);
  --gray: #B4B9BB;
  --extra-light-gray: #DBDBDB;
  --white-gray: #D7DCDE;
  --red-light: #FB565A;
  --red: #E74246;
  --red-dark: #D7373B;
  --green-light: #00CA74;
  --green-med: #00BC6C;
  --green-dark: #00AA62;
  --yellow-light: #EFC849;
  --yellow-med: #EAB534;
  --yellow-dark: #E5A722;
  --shadow-1: rgba(0, 1, 1, 0.1);
}

*,*::before,*::after {
  box-sizing: border-box;
}

/* Global */
.page-body {
  min-width: 1440px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

.visually-hidden {
  display: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header-logo {
  justify-self: left;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: var(--basic-extra-light);
  opacity: 0.7;
}

.main-header-logo:active {
  background-color: var(--basic-extra-light);
  opacity: 0.3;
}

.main-header {
  background-color: var(--basic-extra-light);
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
}

.main-navigation-wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto;
}

.navigation-item {
  border-bottom: 2px solid var(--red-light);
  width: 61px;
  line-height: 1;
  margin: 0;
}

/* User navigation */

.site-navigation a {
  font-family: inherit;
  color: var(--basic-black);
}

.site-navigation a:hover {
  background-color: var(--basic-extra-light);
  color: var(--red-light);
}

.site-navigation a:active {
  background-color: var(--basic-extra-light);
  color: var(--basic-white-03);
}

/* Features */
.features {
  background-color: var(--basic-extra-light);
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  text-align: left;
  margin: 0;
}

.feature-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
}

.feature-text {
  margin: 0;
}

.slider-button {
  width: 23px;
  background-color: Transparent;
  border: 1px solid var(--light-black);
  opacity: 0.4;
}

.slider-button:hover {
  border: 1px solid var(--light-black);
  opacity: 1;
}

.slider-button:active {
  border: 1px solid var(--light-black);
  opacity: 0.1;
}

/* Index columns */
/* about */

.about {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  background-repeat: no-repeat, repeat;
  font-size: 16px;
  line-height: 24px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 149px;
}

.about-lead {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: left;
  margin: 0;
}

.about-text {
  margin: 0;
}

.about-info {
  margin-bottom: 73px;
}

.stats {
  margin-bottom: 74px;
  margin-top: 39px;
}

.about-title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  margin: 0;
}

/* percents */

.stats-value {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.accuracy-title {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.sign {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

.stats-text {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.stats-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Button */

.button {
  display: inline-block;
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: transparent;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  border-radius: 3px;
}

.button-primary {
  padding: 16px 20px;
  background-color: var(--red-light);
}

.button-primary:hover {
  background-color: var(--red);
}

.button-primary:active {
  background-color: var(--red-dark);
  color: var(--basic-white-03);
  box-shadow: inset 0 3px 0 var(--shadow-1);
}

.button-green {
  background-color: var(--green-light);
}

.button-green:hover {
  background-color: var(--green-med);
}

.button-green:active {
  background-color: var(--green-dark);
}

.button-yellow {
  background-color: var(--yellow-light);
}

.button-yellow:hover {
  background-color: var(--yellow-med);
}

.button-yellow:active {
  background-color: var(--yellow-dark);
}

/* services */

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  list-style: none;
}

.services-item {
  margin-top: 80px;
  margin-bottom: 80px;
}

.services-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
}

.services-text {
  margin-bottom: 32px;
  margin-top: 16px;
  text-align: left;
}

/* clients */

.clients {
  background-color: var(--basic-white);
}

.clients-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.clients-link {
  font-family: inherit;
  background-color: var(--basic-white);
  opacity: 0.2;
}

.clients-link:hover {
  background-color: var(--basic-white);
  opacity: 1;
}

.clients-link:active {
  background-color: var(--basic-white);
  opacity: 0.1;
}

/* Contacts */

.contacts-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-gray);
  margin: 0;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
}

.contacts-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-gray);
}

/* discount */

.discount-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
}

.discount-text {
  margin: 0;
}

.discount {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-gray);
  margin-bottom: 74px;
  margin-top: 75px;
}

/* Appointment */

.modal-description {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
}

.form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.form input {
  background-color: transparent;
  border: 2px;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid var(--white-gray);
  color: var(--basic-dark-gray);
  opacity: 0.5;
}

.form input:hover {
  border-color: var(--gray);
}

.form input:active {
  border-color: var(--basic-black);
  color: var(--basic-dark-gray);
  opacity: 1;
  border: 2px;
}

.form textarea {
  background-color: transparent;
  border: 2px;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid var(--white-gray);
  color: var(--basic-dark-gray);
  opacity: 0.5;
}

.form textarea:hover {
  border-color: var(--gray);
}

.form textarea:active {
  border-color: var(--basic-black);
  color: var(--basic-dark-gray);
  opacity: 1;
  border: 2px;
}

.modal-close {
  opacity: 0.3;
  background-color: transparent;
  border-color: 2px solid var(--red-light);
}

.modal-close:hover {
  opacity: 1;
  background-color: transparent;
  border-color: 2px solid var(--red-light);
}

.modal-close:active {
  opacity: 0.1;
  background-color: transparent;
  border-color: 2px solid var(--red-light);
}

/* footer-social */

.footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 139px;
}

.social-list {
  list-style: none;
  margin-top: 68px;
  margin-bottom: 68px;
  padding: 9px;
}

.social-item {
  border-radius: 50%;
  background: var(--basic-light-gray);
  width: 81px;
  height: 81px;
  display: inline-block;
  margin: 0;
}

.main-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0;
  background-color: var(--basic-extra-light);
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
}

.filter-name {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.filter-show-button {
  width: 260px;
  padding: 16px 20px;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
}

.filter-show-button:hover {
  background-color: var(--med-light-gray);
}

.filter-show-button:active {
  color: var(--basic-black-03);
  background-color: var(--soft-gray);
  box-shadow: inset 0 3px 0 var(--shadow-1);
}

.footer-container {}

.sort-type {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black-03);
}


.sort-type:hover {
  color: var(--basic-black-06);
}

.sort-type:active {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
}

.example-list {
  list-style: none;
}

.example-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-gray);
  margin: 0;
}

.example-button:active {
  color: var(--basic-white);
}

.example-link a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
}

.example-link a:hover {
  color: var(--red-light);
}

.example-link a:active {
  color: var(--basic-black-03);
}

.pagination-list {
  list-style: none;
}

.pagination-link {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  border: none;
  width: 50px;
  padding: 13px 15px;
}

.pagination-link:hover {
  background-color: var(--med-light-gray);
}

.pagination-link:active {
  color: var(--basic-black-03);
  background-color: var(--soft-gray);
  box-shadow: inset 0 3px 0 var(--shadow-1);
}

.pagination-link:disabled {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 3px solid var(--extra-light-gray);
}

.link-next {
  width: 260px;
}

.checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.radio-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.example-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.example-link {
  margin: 0;
  padding: 0;
}

.select-button {
  color: var(--light-black);
  background-color: var(--basic-white);
}

.price-range {
  background-color: var(--basic-extra-light);
  color: var(--basic-white);
  box-shadow: Offset 0 2px var(--basic-black-015);
}

.filter-form-text {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-form input {
  background-color: var(--basic-extra-light);
  border: none;
  border-radius: 3px;
}
