/* Variables */

:root {
    --basic-black: #000000;
    --basic-dark: #283136;
    --basic-dark-gray: #444444;
    --basic-gray: #666666;
    --basic-light-gray: #E1E1E1;
    --basic-light:#888888;
    --light-black: #4D4D4D;
    --basic-extra-light: #EEEEEE;
    --basic-white: #ffffff;
    --basic-white-03: rgba(255, 255, 255, 0.3)
    --gray: #B4B9BB;
    --white-gray:#D7DCDE;
    --red-light: #FB565A;
    --red: #E74246;
    --red-dark: #D7373B;
    --green-light: #00CA74;
    --green-med: #00BC6C;
    --green-dark: #00AA62;
    --yellow-light: #EFC849;
    --yellow-med: #EAB534;
    --yellow-dark:#E5A722;
    --shadow-1:rgba(0, 1, 1, 0.1);
}

/* Global */
body {
font-family:"Roboto", Arial, sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: var(--basic-dark);
background-color: var(--basic-white);
}

.visually-hidden {
display: none; 
}

a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .main-header-logo:hover {
  background-color: var(--basic-extra-light);
  opacity: 0.7;
}

  .main-header-logo:focus {
    background-color: var(--basic-extra-light);
    opacity: 0.3;
  }

  .main-header {
    background-color: var(--basic-extra-light);
  }

  .main-navigation {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--basic-black);
    background-color: var(--basic-extra-light);
  }

  .site-navigation {
    list-style: none;
  }

  .navigation-item {
    border-bottom: 2px solid var(--red-light);
    width: 61px;
    height: 2px;
    line-height:1;
     }

/* User navigation */

.site-navigation a {
  font-family: inherit;
  color: var(--basic-black);
}

.site-navigation a:hover {
  background-color: var(--basic-extra-light);
  color: var(--red-light);

}

.site-navigation a:focus {
  background-color: var(--basic-extra-light);
  color: var(--basic-black);
  mix-blend-mode: normal;
  color: var(--basic-white-03);
}

/* Features */
.features {
  background-color: var(--basic-extra-light);
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align:left;
}

.feature-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-button {
  width: 23px;
  height: 23px;
  background-color: Transparent;
  border: 1px solid var(--light-black);
  opacity: 0.4;
}

.slider-button:hover {
  border: 1px solid var(--light-black);
  opacity: 1;
}

.slider-button:focus {
  border: 1px solid var(--light-black);
  opacity: 0.1;
}

/* Index columns */
/* about */

.index-columns {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  background-repeat: no-repeat, repeat;
  font-size: 16px;
  line-height: 24px;
}

.about-lead {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
  text-align:left;
}

.about-title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align:left;
}

 /* percents */

.percents-title {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

 .accuracy-title {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align:left;
 }

.sign {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

.percents-text {
font-size: 16px;
line-height: 18px;
}

.percents-list {
  list-style: none;
}

/* Button */

.button {
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.features-button {
  font-family: inherit;
  background-color: var(--red-light);
  width: 240px;
  height: 50px;
  
}

.features-button:hover {
    background-color: var(--red);
    width: 240px;
    height: 50px;
  }

  .features-button:focus {
    background-color: var(--red-dark);
    width: 240px;
    height: 50px;
    color: 
  }

  .contacts-button {
    font-family: inherit;
    background-color: var(--red-light);
    width: 219px;
    height: 50px;
  }

  .contacts-button:hover {
    background-color: var(--red);
    width: 219px;
    height: 50px;
  }

  .contacts-button:focus {
    background-color: var(--red-dark);
    width: 219px;
    height: 50px;
    color: var(--basic-white-03);
  }

  .services-button-red {
    font-family: inherit;
    background-color: var(--red-light);
    width: 160px;
    height: 50px;
  }

  .services-button-red:hover {
    background-color: var(--red);
    width: 160px;
    height: 50px;
  }

  .services-button-red:focus {
    background-color: var(--red-dark);
    width: 160px;
    height: 50px;
    color: var(--basic-white-03);
    box-shadow: inset 0px 3px 0px var(--shadow-1);
  }
  
  .services-button-green {
    font-family: inherit;
    background-color: var(--green-light);
    width: 160px;
    height: 50px;
  }

  .services-button-green:hover {
    background-color: var(--green-med);
    width: 160px;
    height: 50px;
  }

  .services-button-green:focus {
    background-color: var(--green-dark);
    width: 160px;
    height: 50px;
    color: var(--basic-white-03);
    box-shadow: inset 0px 3px 0px var(--shadow-1);
  }

  .services-button-yellow {
    font-family: inherit;
    background-color: var(--yellow-light);
    width: 160px;
    height: 50px;
  }

  .services-button-yellow:hover {
    background-color: var(--yellow-med);
    width: 160px;
    height: 50px;
  }

  .services-button-yellow:focus {
    background-color: var(--yellow-dark);
    width: 160px;
    height: 50px;
    color: var(--basic-white-03);
    box-shadow: inset 0px 3px 0px var(--shadow-1);
  }

  /* services */

  .services-list {
    list-style: none;
  }

  .services-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
  }

  .hr {
    border: none;
    background-color: var(--basic-white);
    color: var(--basic-extra-light);
    width: 1158px;
    height: 2px;
   }

  /* clients */

    .clients {
      background-color: var(--basic-white);  
    }
 
  .clients-list {
    list-style: none;
  }
 
  .clients-button {
    font-family: inherit;
    background-color: var(--basic-white);
    opacity: 0.2;
  }

  .clients-button:hover {
    background-color: var(--basic-white);
    opacity:1;
    }
  
  .clients-button:focus {
    background-color: var(--basic-white);
    opacity: 0.1;
    }

/* Contacts */

.contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-gray);
}

.footer-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
  }

.contacts-phone {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-gray);
}

/* discount */

.discount h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);  
}

.discount {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-gray);  
}

/* Appointment */

.modal-description {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--basic-black); 
}

.letter-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black); 
}

.letter-form input,textarea {
  background-color: transparent;
  border: 2px;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid var(--white-gray);
  color: var(--basic-dark-gray);  
  opacity: 0.5;
}

.letter-form input,textarea:hover {
  border-color:  var(--gray);
}

.letter-form input,textarea:focus {
  border-color: var(--basic-black);
  color: var(--basic-dark-gray);  
  opacity: 1;
  border: 2px;
}

.modal-close {
  font-family: inherit;
  color: var(--red-light);
  opacity: 0.3;
  background-color: var(--basic-white);
}

.modal-close:hover {
  color: var(--red-light);
  opacity:1;
  background-color: var(--basic-white);
}

.modal-close:focus {
  color: var(--red-light);
  opacity: 0.1;
  background-color: var(--basic-white);
}

.send {
  font-family: inherit;
  background-color: var(--red-light);
  width: 259px;
  height: 50px;
}

.send:hover {
  background-color: var(--red);
  width: 259px;
  height: 50px;
}

.send:focus {
  background-color: var(--red-dark);
  width: 259px;
  height: 50px;
  color: var(--basic-white-03);
}

/* footer-social */
.social-list {
  list-style: none;
}

.circle {
  border-radius: 50%;
  background: var(--basic-light-gray);
  width: 81px;
  height: 81px;
  display: inline-block;
}
